# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# TAGS
cscope*
GTAGS
tags

build/*
*.user
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

*~
